.card {
  border: 4px solid;
  border-radius: 20px;
  width: 100px;
  height: 100px;  
  margin: 0.5rem;
  position: relative;
  -webkit-box-shadow: 4px 4px 10px #383838;
  box-shadow: 4px 4px 10px #383838;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.card > .img-container {
  /* height: 60%; */
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 96%
}

.card > .content {
  font-size: 14px;
  text-align: center;
  position: relative;
  top: -17px;
  color: #ececec;
  text-shadow: 1px 1px 4px #001f1d;
}

.card:hover {
  -webkit-box-shadow: 8px 8px 20px #383838;
  box-shadow: 8px 8px 20px #383838;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer
}

.card:active {
  -webkit-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  transform: translate(1px, 1px)
}